<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Meeting Planner</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['Login']" href="">Login</a></li>
            <li><a [routerLink]="['Register']" href="">Register</a></li>
            <li><a [routerLink]="['Meetings']" href="">Meetings</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
<div class=" panel-footer navbar-fixed-bottom ">
</div>