<div class="container">
    <div class="btn-group btn-group-justified">
        <a class="btn btn-info" (click)="changeButtonStatus()">{{buttonName}}</a>
    </div>
    <div class="list-group-item" style="margin-top:25px; border:none;" *ngIf='isClicked'>
        <form class="form-horizontal">
            <div class="form-group">
                <h2 align="center">Create Meeting</h2>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Organizator</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="meeting.userName" placeholder="Organizator" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Objective</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="meeting.objective" placeholder="Objective" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Start Time</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="meeting.startTime" placeholder="Start Time: example 15:30" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">End Time</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="meeting.endTime" placeholder="End Time: example 15:30" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary" (click)="saveMeeting()">Create</button>
                </div>
            </div>
        </form>
    </div>
    <div class=" list-group-item " *ngFor='#meeting of meetings' style="margin-top:25px ">
        <div> <strong>Organizator: </strong> {{meeting.userName}}</div>
        <div><strong>Objective </strong> {{meeting.objective}}</div>
        <div><strong>Start time </strong> {{meeting.startTime}}</div>
        <div><strong>End time </strong> {{meeting.endTime}}</div>
    </div>
</div>