<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <h2>Login</h2>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-5">
                <input class="form-control" type="email" [(ngModel)]="user.email" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-5">
                <input class="form-control" type="password" [(ngModel)]="user.password" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </form>
</div>
<div class=" panel-footer navbar-fixed-bottom ">
    <div class="alert alert-danger alert-error " *ngIf="errorMessage.length>0">
        <h4 *ngFor='#err of errorMessage'>{{err}}</h4>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="validUser">
        <h4> <strong>Welcome!</strong></h4>
    </div>
</div>