<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <h2>Registration</h2>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">First Name</label>
            <div class="col-md-5">
                <input class="form-control" type="text" [(ngModel)]="user.firstName" id="inputEmail" placeholder="First Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-5">
                <input class="form-control" type="text" [(ngModel)]="user.lastName" id="inputEmail" placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-5">
                <input class="form-control" type="email" [(ngModel)]="user.email" id="inputEmail" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-5">
                <input class="form-control" type="password" [(ngModel)]="user.password" id="inputEmail" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" (click)=" saveUser()">Register</button>
            </div>
        </div>
    </form>
</div>
<div class=" panel-footer navbar-fixed-bottom ">
    <div class="alert alert-danger alert-error " *ngIf="errorMessage.length>0">
        <h4 *ngFor='#err of errorMessage'>{{err}}</h4>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="validUser">
        <h4> <strong>{{user.firstName}} Registered</strong></h4>
    </div>
</div>